{%extends 'base.html'%}

{%block formcontent%}


    <h1 style="color: red">ARE YOU SURE YOU WANT TO DELETE THIS BOOKMARK?</h1>
    <form action="" method="POST">
        {{form.csrf_token}}
        <table>
            <tr>
                <td>{{form.url.label}}</td>
                <td>{{form.url(size=40)}}</td>
            </tr>

            <tr>
                <td>{{form.description.label}}</td>
                <td>{{form.description(size=40)}}</td>
            </tr>

            <tr>
                    <td></td>
                    <td></td>
                </tr>

            <tr>
                <td><a href="{{url_for('index')}}">
                    <button class="button-success" type="button">No, go back</button>
                </a></td>
                <td><button class="button-danger" type="submit">Yes, delete</button></td>
            </tr>
        </table>
    </form>


{%endblock%}